@font-face {
  font-family: "fontello";
  src: local("fontello"), url(../public/fontello.ttf) format("truetype");
}
.icon {
  font-family: "fontello";
}
::placeholder {
  color: #999;
  opacity: 1;
}
